#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	repositories:
		articles: App\Models\Rme\ArticlesRepository
	queue:
		tubeId: maraton-tasks
		host: localhost

services:
	- App\Models\Services\Mailer
	- App\Models\Services\Queue(%queue.host%, %queue.tubeId%)

nette:
	mailer:
		smtp: true
