#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	appNamespace: App

php:
	date.timezone: Europe/Prague
	session.save_path: "%tempDir%/sessions"
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter
		templateFactory: Clevis\Skeleton\TemplateFactory(Nette.templateCacheStorage)

	session:
		expiration: 14 days


services:
	router: App\Router
	authenticator: App\Authenticator

	templateFactory: Clevis\Skeleton\TemplateFactory(@nette.templateCacheStorage, [@container, createServiceNette__template])
	passwordHashCalculator: Clevispace\PasswordHashCalculator

	dibiConnection: DibiConnection(%database%)
	performanceHelperCache:	Nette\Caching\Cache(@cacheStorage, Orm.PerformanceHelper)
	repositoryContainer: App\RepositoryContainer(@serviceContainerFactory)
	serviceContainerFactory: Clevis\Skeleton\Orm\ServiceContainerFactory(@dibiConnection, @performanceHelperCache)

	orm:
		factory: App\RepositoryContainer(
			Clevis\Skeleton\Orm\ServiceContainerFactory(
				@dibiConnection,
				Nette\Caching\Cache(@cacheStorage, Orm.PerformanceHelper)
			)
		)
	usersRepository:
		class: App\UsersRepository
		factory: @orm::getRepository(users)
