extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	version: Clevis\Version\DI\VersionExtension
	dibi: Dibi\Bridges\Nette\DibiExtension22

php:
	date.timezone: Europe/Prague

dibi:
	host: %database.host%
	username: %database.username%
	password: %database.password%
	database: %database.database%
	lazy: TRUE

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\Presenters\*\*

	session:
		expiration: 14 days

services:
  # Router
	routerFactory: App\Models\Factories\RouterFactory
	router: @routerFactory::createRouter()

  # Database / Orm
	serviceContainerFactory: App\Models\Orm\ServiceContainerFactory(@dibi.connection, @performanceHelperCache)
	performanceHelperCache: Nette\Caching\Cache(@cacheStorage, Orm.PerformanceHelper)
	orm: App\Models\Orm\RepositoryContainer(@serviceContainerFactory, [], @container)

  # Queue
	zmq.context: ZMQContext
	zmq.socket.pub:
		class: ZMQSocket(@zmq.context, ZMQ::SOCKET_PUSH)
		setup:
			- connect('tcp://127.0.0.1:5557')
	- App\Models\Services\QueuePublisher(@zmq.socket.pub)
