extensions:
	orm: Nextras\Orm\DI\OrmExtension
	console: Kdyby\Console\DI\ConsoleExtension
	monolog: Kdyby\Monolog\DI\MonologExtension

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\Presenters\*\*

	session:
		expiration: 14 days

database:
	dsn: 'mysql:host=127.0.0.1;dbname=%database.dbname%'
	user: %database.user%
	password: %database.password%
	options:
		lazy: yes
